.modalOverlay {
  position: relative;
  top: -75%;
  left: 0%;
  width: 540px;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 540px;
  height: 540px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.message {
  font-size: 70px;
  font-weight: bolder;
  color: rgb(65, 61, 58);
  margin: auto;
  margin-top: 150px;
  margin-bottom: -100px;
}

.buttonContainer {
  width: 350px;
  display: flex;
  margin: auto;
}
